*{
    margin : 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.bar{
    display: flex;
    justify-content: space-around;
    padding : 2%;
    margin : 2%;
    align-items: center;
}

.nav-bar{
    width:20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-bar a{
    text-decoration: none;
    color : black;
    font-weight: 40;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height : 100vh;
    width : 100%;
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height:10vh;
    width : 100%;
    gap : 2%;
    height : relative;
}
.hero-text h1{
    font-size : 3rem;
}

.hero-text p{
    font-size : 1.5rem;
}
.shop-icon{
    height : 10rem;
    width : 10rem;
}

.about,.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content{
    border:3px solid black;
    padding : 5%;
}

.contact-items{
    padding : 5%
}
