*{
  margin : 0;
  padding : 0;
}
body{
  display : flex;
  justify-content : center;
  background-color : black;
  align-items : center;
  min-height : 100vh;
  margin : 0;

}

.login-container{
  height : 30rem;
  width : 30rem;
  border : 1px solid black;
  border-radius : 10px;

  display : flex;
  justify-content : center;
  align-items : center;
  background-color : white;
}

.input-section{
  height : 5rem;
  width : 20rem;

  display : flex;
  justify-content : space-between;
  align-items : center;
  margin : 2%;
  border-radius : 10px;
}

.input-feilds{
  height : 2rem;
  width : 13rem;
}

#button-elem{
  height : 2rem;
  width : 5rem;
  color : black;
  background-color : yellow;
}
