<html>
<head>
	<title> Product Page </title>
    <script src="{{ url_for('static', filename='js/components/Product_component.js') }}"></script>

</head>

<body>

<!-- Template for Product component -->
<template id="product-template">
<style>
img{
    height : 4rem;
    width : 3rem;
}

#product-card{
    height : 12rem;
    width : 12rem;
    padding : 1%;
    
    border : 2px solid black;
    
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;
    border-radius : 10px;
}

button{
    border : none;
    padding : 2%;
}
</style>

<div id="product-card">
        <h3 id="title"> Product Name</h3>
        <img src="https://picsum.photos/200/300" alt="img" />
        <p id="price">0.00</p>
        <button id="add-to-cart">
            Add to Cart
        </button>
</div>
</template>
      <product-card
        name="Gokul",
        price="101",
        id="product-element"
      >
      </product-card>

</body>
</html>
