<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VRINEX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-style.css') }}">
</head>
<body>

        <div class="bar">
            <div class="logo">
        <img src="{{ url_for('static', filename='icons/LOGO.svg') }}" alt="logo" height="120" weidth="120">
            </div>

            <div class="nav-bar">
                <a href=#home>HOME</a>
                <a href=#about>ABOUT</a>
                <a href=#contact>CONTACT</a>
            </div>

        </div>

    <section class="hero"> 

        <div class="hero-section">
            <div class="hero-text">
                <h1>Serving tech for vrindavan</h1>
                <p>Devoted to quality</p>
            </div> 
        <a href="http://127.0.0.1:5000/login">
        <img class="shop-icon" src="{{ url_for('static', filename='icons/shop_icon.svg') }}" alt="shop-icon">
        </a>
            
        </div>

    </section>

    <section class="about">
        <div class="about-content">
            <h2>ABOUT</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br>
            In, optio numquam repellendus aut totam reprehenderit non obcaecati <br>
            culpa a labore qui laboriosam, dicta voluptatum eius sunt suscipit corporis facere quis.
            </p>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="contact-items">
            <h2>CONTACT</h2>
            <p>
                Email : madhavprapanna@gmail.comi <br>
                PHONE : 6397123932 <br>
                Add : Lorem ipsum dolor sit
            </p>
        </div>
    </section>

    <a href="127.1.0.0.5000/products/list">Products_page</a>

</body>
</html>
