<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="{{ url_for('static', filename='css/login-style.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="login-container">
      <form id="loginForm">
        <div id="user-name-section" class="input-section">

        <label for="username">USERNAME</label>
        <input type="text" id="username" name="username" required class="input-feilds">
        </div>

        <br>

        <div id="password-section" class="input-section">
        <label for="password">PASSWORD</label>
        <input type="password" name ="password" id="password" required class="input-feilds">

        </div>

        <br>
        <div id="submit-button" class="input-section">
        <button id="button-elem" type="submit">LOGIN</button>
        <a href="/register"> register </a>
        </div>
      </form>


      <p id="error"></p>

      <script src="{{ url_for('static', filename='js/authentication.js') }}">
      </script>

    </div>
  </body>
</html>
